.highlight {
    background-color: rgb(255,255,153);
}
.selectHighlight {
    background-color: yellow;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    padding:1px 4px;
    margin:0 -4px;
    color:#ff0000;
}
.finded{
    color:white;background: #8A8A7B;
}
#pagination {
    display: inline-block;
    list-style: none;
}
#pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}